<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">

    <title>Purpose Website UI Kit - Professional Website UI Kit by Webpixels</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="../assets/vendor/animate.css/animate.min.css">





    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.css">


</head>

<body>


    <main>


        <section class="slice slice-lg" id="sct-products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                        <!-- Product gallery -->
                        <div class="mb-5">
                            
                            <a href="">
                                <img alt="Image placeholder" src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid rounded shadow shadow-lg--hover">
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <form class="pl-lg-4">
                            <!-- Product title -->
                            <h2 class="h5 text-capitalize">Men fitness shirt</h2>


                            <!-- Product description -->
                            <div class="mt-4">
                                <small class="text-dark font-weight-bold d-block mb-2">Description:</small>
                                <p class="text-sm lh-150">Pellentesque habitant morbi tristique senectus et netus malesuada fames turpis egestas. Vestibulum tortor quam feugiat vitae ultricies eget tempor.</p>
                            </div>

                            <!-- Quantity -->
                            <div class="mt-4">
                                <small class="d-block font-weight-bold text-dark mb-2">Quantity</small>
                                <div class="d-flex">
                                    <input type="text" class="form-control text-center" placeholder="Qty" style="width: 100px;">
                                    <button type="button" class="btn btn-primary ml-3">Add to cart</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>




    </main>


    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/in-view/dist/in-view.min.js"></script>





    <!-- Theme JS -->

    <script src="../assets/js/theme.min.js"></script>



</body>

</html>
